# .gitignore

# Node.js
node_modules/
*/*/node_modules/
dist/
build/
.env
.env.test
*/*/.env
*/*/.env.test
package-lock.json
*/*/package-lock.json

# Logs
logs
*.log
npm-debug.log*

# System files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Jest coverage
coverage/
*/*/coverage/

# TypeScript
*.tsbuildinfo

# Output artifacts
*.tgz
*.tmp

# GitHub actions artifacts
*.test-report.md

# IDE metadata
.idea/